@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
/* google fonts必定放在line 2 */
@font-face {
  font-family: "STIXTwoText_M";
  src: url(../webfonts/STIXTwoText_M.ttf);
}
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Noto Sans TC", sans-serif;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  /* 已知此網頁的a都"不是文字超連結"，因此先把a設定為區塊 */
  display: block;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
}

h1 {
  font-family: "STIXTwoText_M";
  font-size: 4.5vw;
  line-height: 1;
}

h2 {
  font-family: "STIXTwoText_M";
  font-size: 3.5vw;
  line-height: 1;
}

h3 {
  font-family: "Noto Sans TC";
  font-size: 2vw;
  line-height: 1;
  letter-spacing: 0.08rem;
  font-weight: 500;
}

h4 {
  font-family: "STIXTwoText_M";
  font-size: 1.8vw;
  line-height: 1;
  letter-spacing: 0.08rem;
}

h2,
h3,
h4 {
  color: #034B61;
}

p {
  color: #2A2A2A;
  letter-spacing: 0.05rem;
  font-size: 1.25vw;
}

main {
  padding: 40px 0 50px;
  background-color: #DCDCDC;
}

#upperPart {
  padding: 40px 80px 20px;
  width: 100%;
  height: 70vh;
  display: flex;
  gap: 20px;
}
#upperPart .upperRight {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 20px;
}
#upperPart .upperRight .upperRightRight {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #2A2A2A;
  background-image: url("../images/resume.png");
  background-position: revert;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
  box-shadow: inset -5px -5px 5px rgba(42, 42, 42, 0.7);
}
#upperPart .upperRight .upperRightRight h1 {
  position: absolute;
  top: -7%;
  left: 20px;
  text-shadow: 1px 1px 0px #DCDCDC, -1px -1px 0px #DCDCDC, 1px -1px 0px #DCDCDC, -1px 1px 0px #DCDCDC;
  color: #2A2A2A;
}
#upperPart .upperRight .upperRightLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#upperPart .upperRight .upperRightLeft .u_R_L_Upper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/FBImg.png");
  background-position: revert;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 1px solid #2A2A2A;
  position: relative;
  box-shadow: inset -5px -5px 5px rgba(42, 42, 42, 0.7);
}
#upperPart .upperRight .upperRightLeft .u_R_L_Upper h2 {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-shadow: 1px 1px 0px #DCDCDC, -1px -1px 0px #DCDCDC, 1px -1px 0px #DCDCDC, -1px 1px 0px #DCDCDC;
  color: #9B3F55;
}
#upperPart .upperRight .upperRightLeft .u_R_L_Upper h2:first-of-type {
  top: -10%;
}
#upperPart .upperRight .upperRightLeft .u_R_L_Upper h2:nth-of-type(2) {
  bottom: -10%;
}
#upperPart .upperRight .upperRightLeft .u_R_L_Down {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  background-color: #E3A6A1;
  color: #2A2A2A;
  border: 1px solid #2A2A2A;
  padding: 0 0 20px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 5px 5px 5px rgba(42, 42, 42, 0.7);
}
#upperPart .upperRight .upperRightLeft .u_R_L_Down .Down_title {
  padding: 5px 20px 3px;
  border: 1px solid;
  border-left: none;
  border-radius: 0 99px 99px 0;
  background-color: #19B3B1;
  margin: 5px 0;
}
#upperPart .upperRight .upperRightLeft .u_R_L_Down .Down_title h4 {
  color: #2A2A2A;
}
#upperPart .upperRight .upperRightLeft .u_R_L_Down .Down_text {
  padding: 0 20px;
}
#upperPart .upperLift {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#upperPart .upperLift .upperLiftupper {
  border-radius: 15px;
  flex: 1;
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #2A2A2A;
  position: relative;
  box-shadow: 5px 5px 5px rgba(42, 42, 42, 0.7);
}
#upperPart .upperLift .upperLiftupper .textBox {
  position: absolute;
  top: -10%;
  right: 5%;
  padding: 3px 20px 4px;
  border: 1px solid #2A2A2A;
  border-radius: 99px;
  background-color: #E3A6A1;
  color: #2A2A2A;
}
#upperPart .upperLift .upperLiftupper .u_L_U_Down {
  height: 70%;
  display: flex;
  gap: 20px;
  width: 100%;
}
#upperPart .upperLift .upperLiftupper .u_L_U_Down .Down_Img {
  height: 100%;
  width: 35%;
  background-image: url("../images/my_1.png");
  background-position: revert;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  border-radius: 15px 0 0 0;
  border-right: 1px solid #2A2A2A;
}
#upperPart .upperLift .upperLiftupper .u_L_U_Down .Down_Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 100%;
  gap: 10px;
  padding: 10px 0 0 0;
}
#upperPart .upperLift .upperLiftupper .u_L_U_Lown {
  height: 30%;
  padding: 0 6% 0px 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #E3A6A1;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid #2A2A2A;
}
#upperPart .upperLift .upperLiftupper .u_L_U_Lown p {
  border-bottom: 1.25px dashed #2A2A2A;
  padding: 0 0 1px 0;
  margin-left: 30px;
}
#upperPart .upperLift .upperLiftDown {
  display: flex;
  gap: 20px;
  flex: 1;
}
#upperPart .upperLift .upperLiftDown .u_L_D_Right {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #2A2A2A;
  white-space: nowrap;
  box-shadow: inset -5px -5px 5px rgba(42, 42, 42, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
}
#upperPart .upperLift .upperLiftDown .u_L_D_Right .rowBoxSmall {
  width: 30%;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.7);
  border-right: 1px solid #2A2A2A;
  border-radius: 15px 0 0 15px;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#upperPart .upperLift .upperLiftDown .u_L_D_Right .rowBoxSmall img {
  width: 24px;
  height: 24px;
}
#upperPart .upperLift .upperLiftDown .u_L_D_Right .rowBoxBig {
  width: 70%;
  height: 100%;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#upperPart .upperLift .upperLiftDown .u_L_D_Right .rowBoxBig p {
  padding: 0 20px 0 0;
}
#upperPart .u_L_D_Left {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-color: #E3A6A1;
  color: #2A2A2A;
  border: 1px solid #2A2A2A;
  padding: 0 0 20px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 5px 5px 5px rgba(42, 42, 42, 0.7);
}
#upperPart .u_L_D_Left .left_title {
  padding: 5px 20px 3px;
  border: 1px solid;
  border-left: none;
  border-radius: 0 99px 99px 0;
  background-color: #19B3B1;
  margin: 5px 0;
}
#upperPart .u_L_D_Left .left_title h4 {
  color: #2A2A2A;
}
#upperPart .u_L_D_Left .left_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}
#upperPart .u_L_D_Left .left_text div:first-of-type {
  padding: 0 0 7px 0;
  border-bottom: 1px solid #2A2A2A;
}
#upperPart .u_L_D_Left .left_text div:nth-of-type(2) {
  padding: 7px 0 0 0;
}
#upperPart .u_L_D_Left .left_text div {
  display: flex;
  justify-content: space-between;
}
#upperPart .u_L_D_Left .left_text div span {
  white-space: nowrap;
}
#upperPart .u_L_D_Left .left_text div p {
  text-align: end;
  line-height: 1.3;
}

#middleOne {
  padding: 0 80px 20px;
  width: 100%;
  height: calc(40vh - 20px);
  gap: 20px;
  display: flex;
  flex-direction: row-reverse;
}
#middleOne .middle_Left {
  width: 50%;
  height: 100%;
  background-image: url("../images/HFL.png");
  background-position: revert;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 1px solid #2A2A2A;
  position: relative;
  box-shadow: inset 5px -5px 5px rgba(42, 42, 42, 0.7);
}
#middleOne .middle_Left h2 {
  text-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
  color: #034B61;
  padding: 0 0 5px 0;
}
#middleOne .middle_Left .Down_title {
  padding: 3px 20px 4px;
  border: 1px solid #2A2A2A;
  border-radius: 99px;
  background-color: #E3A6A1;
  color: #2A2A2A;
  text-align: center;
}
#middleOne .middle_Left span {
  position: absolute;
  bottom: -8%;
  right: 5%;
}
#middleOne .middle_Right {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 20px;
}
#middleOne .middle_Right .Right_1 {
  border: 1px solid #2A2A2A;
  width: 50%;
  height: 100%;
  background-image: url("../images/jersey.png");
  background-position: revert;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: inset 5px -5px 5px rgba(42, 42, 42, 0.7);
}
#middleOne .middle_Right .Right_1 h2 {
  position: absolute;
  writing-mode: vertical-rl;
  top: -11px;
  right: 10px;
  text-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
  color: #034B61;
}
#middleOne .middle_Right .Right_2 {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-color: #E3A6A1;
  color: #2A2A2A;
  border: 1px solid #2A2A2A;
  padding: 0 0 20px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: -5px 5px 5px rgba(42, 42, 42, 0.7);
  padding: 0;
}
#middleOne .middle_Right .Right_2 .textBox_2 {
  width: 100%;
  height: fit-content;
  background-color: #19B3B1;
  padding: 5px 20px;
  bottom: 0%;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid #2A2A2A;
}
#middleOne .middle_Right .Right_2 h2 {
  margin: auto;
  text-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
  color: #9B3F55;
  line-height: 1.2;
  letter-spacing: -0.15rem;
}

#middleTwo {
  width: 100%;
  height: 70vh;
  padding: 0 80px 20px;
  display: flex;
  gap: 20px;
}
#middleTwo .middle_Big {
  width: 76.5%;
  height: 100%;
  position: relative;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
  box-shadow: inset 5px -5px 5px rgba(42, 42, 42, 0.7);
}
#middleTwo .middle_Big .textBox {
  position: absolute;
  z-index: 3;
  background-color: #9B3F55;
  width: fit-content;
  height: fit-content;
  left: 40px;
  bottom: 0%;
  border-radius: 15px 15px 0 0;
  border: 1px solid #2A2A2A;
  border-bottom: none;
  padding: 15px;
}
#middleTwo .middle_Big .textBox .webIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 0 5px 0;
}
#middleTwo .middle_Big .textBox .webIcon a {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
#middleTwo .middle_Big .textBox .webIcon a img {
  width: 24px;
  height: 24px;
}
#middleTwo .middle_Big .textBox_2 {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: fit-content;
  background-color: #FFFFFF;
  padding: 5px 20px;
  bottom: 0%;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid #2A2A2A;
  padding: 5px 0 5px 320px;
}
#middleTwo .middle_Big h2 {
  right: 20px;
  bottom: 20px;
  color: #FFFFFF;
}
#middleTwo .middle_Big img {
  position: absolute;
  z-index: 1;
  width: 100%;
  /* 保持圖片比例並裁剪超出部分 */
  border-radius: 15px;
}
#middleTwo .middle_Small {
  width: 23.5%;
  height: 100%;
  position: relative;
  border: 1px solid #2A2A2A;
  box-shadow: inset 5px -5px 5px rgba(42, 42, 42, 0.7);
  background-image: url("../images/onePage.png");
  background-position: revert;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
#middleTwo .middle_Small h2 {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 2;
  writing-mode: vertical-rl;
  text-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
  color: #9B3F55;
}

#popup {
  /* 初始隱藏 */
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* 半透明的黑色背景 */
  z-index: 1000;
  /* 確保在最上層 */
}
#popup .popup-content {
  width: 800px;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: none;
  background-color: #FFFFFF;
}
#popup img {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 5px -5px 5px rgba(42, 42, 42, 0.7);
  width: calc(100% - 100px);
  margin: 50px;
  border-radius: 15px;
}/*# sourceMappingURL=style.css.map */