$color:(
    primary_LightPink:#E3A6A1,
    primary_DeepPink:#9B3F55,
    primary_DeepPink_08:#9b3f55cc,
    primary_Blue:#19B3B1,
    primary_DeepBlue:#034B61,
    primary_LightGray:#DCDCDC,
    primary_Gray:#6C6C6C,
    primary_TextDeep:#2A2A2A,
    primary_DeepGray:rgb(42, 42, 42,.7),
    primary_White:#FFFFFF,
)